<h2>All purchases</h2>
<h3>Total amount spent: £<%=@total %></h3>

  <table class="table">
    <tr>
      <th>Merchant name</th>
      <th>Value £</th>
      <th>Date</th>
      <th>Tag</th>
    </tr>
    <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.merchant_name %></td>
      <td><%= transaction.value %></td>
      <td><%= transaction.date %></td>
      <td><a href="/transactions/by_tag/<%= transaction.tag_id %>"><%= transaction.find_tag_name %></a></td>
    </tr>
    <% end %>
  </table>
